body{
    min-width: 900px;
    height: 700px;
    background-color: #f5efff;
    background-image: url("../img/background/logo.png"),url("../img/background/logBanner.png");/*no-repeat不重复*/
    background-size: 5% 10%,100% 90%;
    background-position: left 2.5% top 3%,left top 10%;
    background-repeat: no-repeat,no-repeat;
    /*background-color: #8c939d;*/
}
#adminLogin{
    float: left;
    width: 35%;
    /*height: 500px;*/
    border: 2px solid;
    border-radius: 5px;
    margin-left: 33%;
    margin-top:  15%;
    padding: 50px;
    /*box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, .04);*/
    box-shadow: 10px 10px 5px #424242;
    /*透明*/
    background-color: rgba(255, 255, 255,0.6);
}

#iName{
    /*background-color: #f56c6c;*/
    font-size: 15px;
    color: #3a8ee6;
}



