<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>众筹网首页</title>
    <link rel="stylesheet" href="css/common/elementui.css">
    <link rel="stylesheet" href="css/myHomePage.css">
    <link rel="stylesheet" href="css/common/theme-chalk.css">
    <link rel="stylesheet" href="css/userAgreement.css"/>
</head>
<body>

<div id="myHomePage">
    <div class="top1">
        <div class="top_img"></div>
        <div class="top_content">
            <div class="top_tips">
                <el-button type="text" icon="el-icon-back" @click="backProject()">返回列表</el-button>
            </div>
            <div class="top_menu">
                <el-menu
                        :default-active="activeIndex"
                        class="el-menu-demo"
                        mode="horizontal"
                        @select="handleSelect"
                        background-color="#545c64"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="1"><i class="el-icon-s-home"></i>首页</el-menu-item>
                    <el-menu-item index="2"><i class="el-icon-reading"></i>众筹须知详情</el-menu-item>
                    <el-menu-item index="3"><i class="el-icon-s-order"></i>众筹项目</el-menu-item>
                    <!--                    <el-menu-item index="4"><i class="el-icon-chat-line-round"></i>在线留言</el-menu-item>-->
                    <el-menu-item index="4"><i class="el-icon-setting"></i>管理员端</el-menu-item>
                </el-menu>
            </div>

            <div class="top_data">
                <div>
                    <el-avatar :src="imageURL_header+avatar+imageURL_suffix"></el-avatar>
                    用户:{{user_name2}}，您好<br>
                    <el-button type="text" @click="personally()">个人中心</el-button>
                    <el-button type="text" @click="signOut()">退出登录</el-button>
                </div>
            </div>

        </div>
    </div>

    <div class="body_left1">
        <div style="margin:0 auto; text-align:center;font-size:40px;">
            {{biaoti}}
        </div>
        <br>
        <div style="font-size:15px;width: 100%">
            <div style="text-align:center;width: 46%;margin-left: 27%;color: #8D8D8D">
                类别:{{leibie}} &nbsp;&nbsp;发布人:{{tianjiaren}} &nbsp;&nbsp;发布时间:{{addtime}}&nbsp;&nbsp;点击率:{{dianjilv}}
            </div>
        </div>
        <br>
        <div style="margin:0 auto; font-family: 宋体;color: #8D8D8D; width:900px; height:400px">
            &nbsp;&nbsp;{{neirong}}
        </div>


    </div>
</div>
<div class="footing">
    <div class="address">地址:山东省烟台市莱山区山东工商学院软件2017级 邮编：264003 电话：123-123-1234 传真：123-1234567</div>
    <div class="beian">鲁ICP备08001421号鲁公网安备110108007702 人工客服QQ：66666666</div>
</div>
</div>
<script src="js/common/vue.js"></script>
<script src="js/common/elementui.js"></script>
<script src="js/common/index.js"></script>
<script src="js/common/axios.js"></script>
<script src="js/projectXuZhiDetail.js"></script>
</body>
</html>