<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>众筹网首页</title>
    <link rel="stylesheet" href="css/common/elementui.css">
    <link rel="stylesheet" href="css/myHomePage.css">
    <link rel="stylesheet" href="css/common/theme-chalk.css">
    <link rel="stylesheet" href="css/userAgreement.css"/>
    <link rel="stylesheet" href="css/projectDetail.css"/>
</head>
<body>

<div id="myHomePage">
    <div class="top1">
        <div class="top_img"></div>
        <div class="top_content">
            <div class="top_tips">
                <el-button type="text" icon="el-icon-back" @click="backProject()">返回列表</el-button>
            </div>
            <div class="top_menu">
                <el-menu
                        :default-active="activeIndex"
                        class="el-menu-demo"
                        mode="horizontal"
                        @select="handleSelect"
                        background-color="#545c64"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="1"><i class="el-icon-s-home"></i>首页</el-menu-item>
                    <el-menu-item index="2"><i class="el-icon-reading"></i>众筹须知</el-menu-item>
                    <el-menu-item index="3"><i class="el-icon-s-order"></i>众筹项目详情</el-menu-item>
                    <!--                    <el-menu-item index="4"><i class="el-icon-chat-line-round"></i>在线留言</el-menu-item>-->
                    <el-menu-item index="4"><i class="el-icon-setting"></i>管理员端</el-menu-item>
                </el-menu>
            </div>

            <div class="top_data">
                <div>
                    <el-avatar :src="imageURL_header+avatar+imageURL_suffix"></el-avatar>
                    用户:{{user_name2}}，您好<br>
                    <el-button type="text" @click="personally()">个人中心</el-button>
                    <el-button type="text" @click="signOut()">退出登录</el-button>
                </div>
            </div>

        </div>
    </div>

    <div class="body_left3">
        <div class="P_all_top" >
            <div class="el-image P_all_top_img">
<!--                <div class="el-image__error"></div>-->
                <img :src="'img/background/'+picture+'.png'" class="el-image__inner" style="object-fit: contain;">
            </div>
            <div class="P_all_top_text">
                <div class="P_all_top_text_a">
                    <div class="P_all_top_text_a_text">{{biaoti}}</div>
                    <div class="P_all_top_text_a_text_a">{{addtime}}</div>
                    <div class="P_all_top_text_a_text_b">328阅读量</div> <!----> <!----> <!----></div>
                <div class="P_all_top_text_xx">
                    <div class="P_all_top_text_xx_a">
                        <div class="P_all_top_text_xx_a_box">项目类型: <span>独资/投资建厂,参股合作,其它合作方式   </span></div>
                        <div class="P_all_top_text_xx_a_box">资金类型: <span> {{leibie}} </span></div>
                        <div class="P_all_top_text_xx_a_box">投资阶段: <span> 种子期,初创期,成长期,扩张期,成熟期,Pre-IPO  </span></div>
                        <div class="P_all_top_text_xx_a_box">作者: <span> {{faburen}} </span></div>
                    </div>
                    <div class="P_all_top_text_xx_a" style="margin: 0px 0px 0px 13px;">
                        <div class="P_all_top_text_xx_a_box">投资金额: <span> {{zhongchoujine}} </span></div>
                        <div class="P_all_top_text_xx_a_box">投递次数: <span> 5次 </span></div>
                        <div class="P_all_top_text_xx_a_box">投资期限: <span> {{qixian}}年</span></div>
                        <div class="P_all_top_text_xx_a_box">时间: <span> {{addtime}} </span></div>
                    </div>
                </div> <!----></div>
        </div>
        <br>
        <div style="margin:0 auto; text-align:center;font-size:25px;">
            项目介绍：
        </div>
        <br>
        <div style="margin:0 auto; font-family: 宋体;color: #8D8D8D; width:900px;">
            &nbsp;&nbsp;{{xiangqing}}
        </div>
        <div style="margin-left: 45%">
            <el-button type="primary" plain>投资</el-button> <el-button type="primary" plain>评论</el-button>
        </div>

    </div>
</div>
<div class="footing">
    <div class="address">地址:山东省东营市北二路271号中国石油大学胜利学院 邮编：257000 电话：123-123-1234 传真：123-1234567</div>
    <div class="beian">鲁ICP备08001421号鲁公网安备110108007702 人工客服QQ：66666666</div>
</div>

<script src="js/common/vue.js"></script>
<script src="js/common/elementui.js"></script>
<script src="js/common/index.js"></script>
<script src="js/common/axios.js"></script>
<script src="js/projectDetails.js"></script>
</body>
</html>