<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>众筹网登录</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/common/elementui.css"/>
    <link rel="stylesheet" type="text/css" href="//static.zongheng.com/v2017/style/login_pc.min.css?v=13405670" />
    <link rel="stylesheet" href="css/userLogin.css"/>
    <link rel="stylesheet" href="css/userAgreement.css" />

</head>
<body >

<div id="app" >
    <div class="wrap pass_header">
        <div style="width: 80px;height: 80px">
            <a href="#"><img src="img/background/logo.png"/></a>
        </div>

    </div>
    <div class="pass_link">
        没有账号 <a href="#" @click="gotoRegistration()">点击注册</a>
    </div>
    <div class="passbg" >
        <div class="wrap">
            <div class="pass_ad">
                <img src="img/background/userloginbackground.jpg" width="560" height="410">
            </div>
            <div class="login box">
                <el-tabs v-model="activeName" >
                    <el-tab-pane label="账号密码登录" name="first">
                        <div class="normal">
                            <form class="login1">
                                <div class="form">
                                    <el-input class="phone" placeholder="请输入账号" v-model="yonghuming"
                                              clearable></el-input>
                                </div>

                                <div class="form">
                                    <el-input class="pwd" placeholder="请输入密码" v-model="mima"
                                              show-password></el-input>
                                </div>
                                <el-row>
                                    <el-button class="loginBtn1" type="primary" round @click="normalLogin()" size="small">登录</el-button>
                                </el-row>

                            </form>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <div class="cl0"></div>
        </div>
    </div>
</div>

<br>
<div class="bottom">
    <div class="address">地址:山东省东营市北二路271号中国石油大学胜利学院 邮编：257000 电话：123-123-1234 传真：123-1234567</div>
    <div class="beian">鲁ICP备08001421号鲁公网安备110108007702</div>
</div>

<script src="js/common/vue.js"></script>
<script src="js/common/elementui.js"></script>
<script src="js/common/axios.js"></script>
<script src="js/common/index.js"></script>
<script src="js/common/jquery.js"></script>
<script src="js/userLogin.js"></script>
</body>
</html>
