<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>众筹网个人注册</title>
    <link rel="stylesheet" type="text/css" href="https://static.zongheng.com/v2017/style/passport.css"/>
    <link rel="stylesheet" href="../css/common/elementui.css"/>
    <link rel="stylesheet" href="../css/register_general.css"/>
</head>

<body>

<div class="head" id="head">
    <div class="reg-logo fl">
        <img src="../../static/img/background/logo.png" alt="logo">
    </div>
    <span style="font-size: 30px;font-family: 黑体;">众筹网注册</span>
    <div class="reg-login fr">
        我已注册，现在就<a href="../html/UserLogin.html" class="go-login">登录</a>
    </div>
</div>

<div class="center" id="app">
    <form class="register" name="one">
        <span class="label">用户名：</span>
        <el-input class="phone" placeholder="请输入你的用户名" v-model="yonghuming"></el-input>

        <div class="form-box">

            <div class="form">
                <span class="label">密码：</span>
                <el-input class="pwd1"  placeholder="设置登录密码" v-model="mima"
                          show-password></el-input>
            </div>
            <div class="form">
                <span class="label">确认密码：</span>
                <el-input class="pwd2"  placeholder="再次确认密码" v-model="password"
                          show-password></el-input>
            </div>

            <div class="form">
                <span class="label">姓名：</span>
                <el-input class="pwd2"  placeholder="请输入姓名" v-model="xingming"
                          ></el-input>
            </div>
            <div class="form">
                <span class="label">性别：</span>
                &nbsp;
                <template>
                    <el-radio v-model="xingbie" label="男">男</el-radio>
                    <el-radio v-model="xingbie" label="女">女</el-radio>
                </template>
            </div>
            <div class="form">
                <span class="label">出生年月：</span>
                <el-date-picker
                        v-model="chushengnianyue"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>
            </div>
            <div class="form">
                <span class="label">QQ：</span>
                <el-input class="pwd2"  placeholder="请输入QQ" v-model="qq"
                          ></el-input>
            </div>
            <div class="form">
                <span class="label">邮箱：</span>
                <el-input class="pwd2"  placeholder="请输入邮箱" v-model="youxiang"
                          ></el-input>
            </div>

            <div class="form">
                <span class="label">手机号：</span>
                <el-input class="pwd2"  placeholder="请输入手机号" v-model="dianhua"
                          ></el-input>
            </div>
            <div class="form">
                <span class="label">身份证：</span>
                <el-input class="pwd2"  placeholder="请输入身份证" v-model="shenfenzheng"
                          ></el-input>
            </div>
            <div class="form">
                <span class="label">地址：</span>
                <el-input class="pwd2"  placeholder="请输入地址" v-model="dizhi"
                          ></el-input>
            </div>

            <div class="form">
                <span class="label">备注：</span>
                <div style="margin-left: 20%;">
                    <el-input
                            type="textarea"
                            :rows="3"
                            placeholder="请输入备注内容"
                            v-model="beizhu">
                    </el-input>
                </div>

            </div>
        </div>
        <div style="margin-top: 3%">
        <el-row>
            <el-button style="margin-left: 39%" @click="save()">立即注册</el-button>
        </el-row>
        </div>
    </form>

</div>
<script src="../js/common/vue.js"></script>
<script src="../js/common/elementui.js"></script>
<script src="../js/common/axios.js"></script>
<script src="../js/common/index.js"></script>
<script src="../js/register_general.js"></script>


</body>

</html>